@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border-radius: calc(15px / 2);
}

::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: calc(15px / 2);
}
